.highlight-light,
.highlight-medium,
.highlight-dark {
    padding: 1em;
}

.highlight-light {
    background-color: whitesmoke;
}

.highlight-medium {
    background-color: lavender;
}

.highlight-dark {
    background-color: silver;
}